@model IEnumerable<FullStackCapstone.Models.OppCart>

@{
    ViewData["Title"] = "Index";
}

<h1>Summer Programs To Do List</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Application Deadline
            </th>
            <th>
                Complete?
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {


            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Opportunity.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opportunity.ApplicationDeadline)
                </td>
                <td>
                    @if (item.IsComplete == false)
                    {

                        <form asp-action="CompleteOpp" asp-route-id="@item.OpportunityId">
                            <input type="image" class="emptyBox" src="~/icons/svg/check-box-empty.svg" />
                        </form>

                    }
                    else
                    {

                        <input disabled class="greenCheck" type="image" src="~/icons/svg/greenCheck.svg" />

                    }


                </td>
                <td>
                    <form asp-controller="OppCarts" asp-route-id="@item.OpportunityId" asp-action="DeleteFromCart">
                        <input type="image" class="deleteButton" value="Delete" src="~/icons/svg/001-delete.svg" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@* dark mode if you wish *@
@*<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.5/lib/darkmode-js.min.js"></script>
<script>
  new Darkmode().showWidget();
</script>*@




